<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.game.mapper.WgMainMapper">
  <resultMap id="BaseResultMap" type="web.game.pojo.WgMain">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="open" jdbcType="INTEGER" property="open" />
  </resultMap>
</mapper>