<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.game.mapper.WgPublicidMapper">
  <resultMap id="BaseResultMap" type="web.game.pojo.WgPublicid">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="srverid" jdbcType="INTEGER" property="srverid" />
    <result column="lastid" jdbcType="BIGINT" property="lastid" />
  </resultMap>
</mapper>