.carousel-img{
	width: 375px;
	height: 250px;
}


.xlmc-img{
	width: 120px;
	height: 120px;
}

.rqsc-img{
	width: 180px;
	height: 252px;
}

.wy-pro-list .proimg{
	height:  60vw;
	position: relative;
}
.wy-header-icon-back{
	height: 26px;
    z-index: 3;
    position: relative;
    width: 26px;
    margin-left: -10px;
}
.wy-header-icon-back span{
	margin: 4px 0 0 3px;
}
.upload-img{
	width: 77px;
	height: 77px;
}
.protxt-pb{
	   padding: 8px;
}
.protxt .name{
	 
	  font-size: 10px;
    color: #454545;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
.pu-img{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
